header {
  width: 100%;
  padding: 15px 9.7%;

  @media screen and (min-width: 910px) and (max-width: 1024px) {
    padding: 15px 8.7%;
  }

  @media screen and (min-width: 800px) and (max-width: 910px) {
    padding: 15px 7.7%;
  }

  @media screen and (min-width: 600px) and (max-width: 800px) {
    padding: 15px 6.7%;
  }

  @media screen and (max-width: 600px) {
    padding: 15px 5.7%;
  }
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: $dark50;
    position: relative;

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }

  &-hidden-auth {
    display: none;
    position: relative;

    @media screen and (max-width: 600px) {
      display: flex;
      margin-right: 20px;
    }

    &-field {
      position: absolute;
      right: -10px;
      background-color: #fff;
      border-radius: 10px;
      top: 30px;
      padding: 0 15px;
      z-index: 100;

      &__button {
        margin-bottom: 10px;
        text-align: right;

        .button_filled {
          font-size: 9px;
          padding: 9px 20px;
          min-width: 80px;
        }
    
        .button_transparent {
          width: 60%;
          font-size: 9px;
          padding: 7px 20px;
        }
      }
    }

  }

  &-hidden-menu {

      @media screen and (max-width: 1040px) {
        display: flex;
        font-size: 24px;
        margin-left: 20px;
    }

    i {
      cursor: pointer;
      margin-bottom: 3px;
    }

    display: none;

    &-ul {
      padding: 15px;
      width: 200px;
      background-color: #fff;
      font-size: 14px;
      position: absolute;
      list-style: none;
      left: 10px;
      top: 40px;
      z-index: 999;
      border-radius: 4px;

      &__li {
        margin: 14px 0 0;
        display: flex;
        align-items: center;
        cursor: pointer;

        .material-icons {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 600px) {
    display: none;
  }

  &__item {
    min-width: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: $dark50;
    margin-right: 20px;
    cursor: pointer;

    @media screen and (max-width: 1040px) {
      display: none;
    }

    .button_filled {
      padding: 9px 20px;
      width: 100%;
      min-width: 80px;
    }

    .button_transparent {
      padding: 7px 20px;
    }
  }

  &__button {
    @media screen and (max-width: 1040px) {
      display: flex;
    }

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

}
