mixin room-photos(image1, image2, image3)
  .room-photos
    .left-column
      img(src= image1, alt="").room-photos__img.room-photos__img-big
    .right-column
      img(src= image2, alt="").room-photos__img.room-photos__img-small
      img(src= image3, alt="").room-photos__img.room-photos__img-small