
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), local('Montserrat'), url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), local('Quicksand-Regular'), url('./fonts/quicksand.woff') format('woff'), url('./fonts/quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}