mixin comment(photo, name, time, content, likes)
  include ../like-button/like-button
  .comment
    .comment-header
      img(src= photo, alt="").comment-header__img
      p.comment-header__text= name
        br
        span.comment-header__text_thin= time
    .comment-content
      .comment-content-like
        +like-button(like= likes)
      p.comment-content__text= content