mixin datepicker(header)
  h3.datepicker-plugin__header= header
  .datepicker-plugin-content
    input(type="text" placeholder="ДД.ММ.ГГГГ").datepicker-plugin.text-field
    i.material-icons expand_more