.booking-form {

  &-room {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__number {
      font-family: Montserrat-Bold;

      &_number {
        font-size: 24px;
        margin-right: 5px;
      }

      &_lux {
        text-transform: uppercase;
        color: $purple;
        font-size: 12px;
      }
    }

    &__price {
      font-family: Montserrat-Bold;
      color: $dark50;

      span {
        font-family: Montserrat;
      }
    }
  }
}