.form.booking-form
  .form-section
    .booking-form-room
      .booking-form-room__number № 
        span.booking-form-room__number_number 888
        span.booking-form-room__number_lux Люкс
      .booking-form-room__price 9 990&#8381; 
        span в сутки