mixin stars_3
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_empty star_border
  i.material-icons.star_empty star_border

mixin stars_4
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_empty star_border

mixin stars_5
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_filled star
  i.material-icons.star_filled star