include ../dropdown/dropdown
include ../range-slider/range-slider
include ../checkbox/checkbox
include ../checkbox-rich/checkbox-rich
include ../datepicker/datepicker

main.search-page
  aside.search-page-settings
    .search-page-datepicker.search-page-aside-block
      +datepicker('Даты пребывания в отеле')
    .search-page-guest-dropdown.search-page-aside-block
      +dropdown('Гости', 'Взрослые', 'Дети', 'Младенцы', 'Сколько гостей')
    .search-page-range-slider.search-page-aside-block
      +rangeSlider
    .search-page-checkboxes.search-page-aside-block
      h3.search-page-checkboxes__header checkbox buttons
      .search-page-checkboxes__item
        +checkbox('Можно курить')
      .search-page-checkboxes__item
        +checkboxChecked('Можно с питомцами')
      .search-page-checkboxes__item
        +checkboxChecked('Можно пригласить гостей (до 10 человек)')
    .search-page-checkbox-rich.search-page-aside-block
      h3.search-page-checkbox-rich__header доступность
      .search-page-checkbox-rich__item
        +checkboxRich('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
      .search-page-checkbox-rich__item
        +checkboxRich('Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.')
    .search-page-room-details-dropdown.search-page-aside-block
      +dropdown('удобства номера', 'Спальни', 'Кровати', 'Ванные комнаты', '2 спальни, 2 кровати')
    .search-page-checkbox-list.search-page-aside-block
      include ../checkbox-list/checkbox-list
  main.search-page-content
    include ../room/room
    h1.search-page-content__header Номера, которые мы для вас подобрали
    .search-page-content__item
      a(href="booking.pug")
        +room("./img/rooms/room1.png", 888, 9990, 145, 'люкс')
    .search-page-content__item
      +room("./img/rooms/room2.png", 840, 9900, 65)
    .search-page-content__item
      +room("./img/rooms/room3.png", 980, 8500, 35, 'люкс')
    .search-page-content__item
      +room("./img/rooms/room4.png", 856, 7300, 19)
    .search-page-content__item
      +room("./img/rooms/room5.png", 740, 6000, 44)
    .search-page-content__item
      +room("./img/rooms/room6.png", 982, 5800, 56)
    .search-page-content__item
      +room("./img/rooms/room7.png", 678, 5500, 45)
    .search-page-content__item
      +room("./img/rooms/room8.png", 450, 5300, 39)
    .search-page-content__item
      +room("./img/rooms/room9.png", 350, 5000, 77)
    .search-page-content__item
      +room("./img/rooms/room10.png", 666, 5000, 25)
    .search-page-content__item
      +room("./img/rooms/room11.png", 444, 5000, 15)
    .search-page-content__item
      +room("./img/rooms/room12.png", 352, 5000, 55)
    .search-page-content__pagination
      include ../pagination/pagination