.search-page {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 140px;

  &-aside-block {
    margin-bottom: 30px;
  }

  &-settings {
    width: 28%;
    padding: 20px 60px 0 0;
  }

  &-datepicker {

    &__header {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  &-checkboxes {

    &__header {
      margin-bottom: 11px;
    }

    &__item {
      margin-bottom: 10px;
    }
  }

  &-checkbox-rich {

    &__header {
      margin-bottom: 15px;
    }

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &-content {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;

    &__header {
      display: block;
      width: 100%;
      margin-bottom: 20.5px;
    }

    &__item {
      margin-bottom: 20px;
    }

    &__pagination {
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 69px;
    }
  }
}