footer
  section.navigation-links
    .footer-description.footer-section
      .footer-description__logo
        img(src="./img/header/logo.svg", alt="Toxin logo")
      p.footer-description__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
    .footer-navigation.footer-section
      ul.navigation-list.footer-list
        li.footer-list__item.footer-list__header Навигация
        li.footer-list__item 
          a(href="") О нас
        li.footer-list__item 
          a(href="") Новости
        li.footer-list__item 
          a(href="") Служба поддержки
        li.footer-list__item 
          a(href="") Услуги
    .footer-about.footer-section
       ul.about-list.footer-list
        li.footer-list__item.footer-list__header О нас
        li.footer-list__item 
          a(href="") О сервисе
        li.footer-list__item 
          a(href="") Наша команда
        li.footer-list__item 
          a(href="") Вакансии
        li.footer-list__item 
          a(href="") Инвесторы
    .footer-support.footer-section
      ul.support-list.footer-list
        li.footer-list__item.footer-list__header Служба поддержки
        li.footer-list__item 
          a(href="") Соглашения
        li.footer-list__item 
          a(href="") Сообщества
        li.footer-list__item 
          a(href="") Связь с нами
    .footer-subscribe.footer-section
      ul.subscribe-list.footer-list
        li.footer-list__item.footer-list__header Подписка
        li.footer-list__item Получайте специальные предложения и новости сервиса
        li
          include ../subscription-text-field/subscription-text-field
  section.copyright-contacts
    .footer-copyright
      p Copyright © 2018 Toxin отель. Все права зачищены.
    .footer-contacts
      .footer-contacts__item.twitter
        a(target="_blank" rel="noopener noreferrer" href="https://twitter.com/?lang=ru")
          i.fab.fa-twitter
      .footer-contacts__item.facebook
        a(target="_blank" rel="noopener noreferrer" href="https://ru-ru.facebook.com")
         i.fab.fa-facebook
      .footer-contacts__item.instagram
        a(target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/?hl=ru")
          i.fab.fa-instagram