@import "../subscription-text-field/subscription-text-field";

.navigation-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 100px 9.7%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;

  @media screen and (min-width: 910px) and (max-width: 1024px) {
    padding: 80px 8.7%;
  }

  @media screen and (min-width: 800px) and (max-width: 910px) {
    padding: 60px 7.7%;
  }

  @media screen and (min-width: 600px) and (max-width: 800px) {
    padding: 40px 6.7%;
  }

  @media screen and (max-width: 600px) {
    padding: 20px 5.7%;
  }
}

.footer-section {
  min-width: 140px;
  max-width: 250px;

  @media screen and (max-width: 1024px) {
    width: 28%;
  }

}

.footer-description {
  min-width: 140px;
  max-width: 200px;
  margin-right: 20px;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &__logo {
    width: 106px;
    height: 40px;
  }
}

.footer-about {

  @media screen and (max-width: 1024px) {
    width: 16%;
  }
}

.footer-list {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-right: 10px;

  &__item {
    margin-bottom: 20px;
    display: block;

    @media screen and (min-width: 910px) and (max-width: 1040px) {
      margin-bottom: 18x;
      font-size: 13px;
    }
  
    @media screen and (min-width: 800px) and (max-width: 910px) {
      margin-bottom: 15px;
      font-size: 13px;
    }
  
    @media screen and (min-width: 600px) and (max-width: 800px) {
      margin-bottom: 12px;
      font-size: 12px;
    }
  
    @media screen and (max-width: 600px) {
      margin-bottom: 10px;
      font-size: 12px;
    }

    a {
      text-decoration: none;
      color: $dark75;
    }
  }

  &__header {
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    color: #1F2041;
    margin-bottom: 12px;
    white-space: nowrap;

    @media screen and (min-width: 1024px) {
      font-size: 13px;
    }

    @media screen and (min-width: 800px) and (max-width: 1024px) {
      font-size: 12px;
    }

    @media screen and (max-width: 800px) {
      font-size: 11px;
    }
  }
}

.subscribe-list {
  margin-right: 0;
}

.copyright-contacts {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  padding: 26px 140px;
}

.copyright-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  color: $dark75;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  font-size: 24px;

  &__item {
    margin-left: 20px;

    i {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}