include ../button/button
include ../radiobutton/radiobutton
include ../datepicker/datepicker
include ../toggle-switcher/toggle-switcher

.form.registration-form
  h1.form-h1 Регистрация аккаунта
  .form-section
    .form-text-field
      input(type="text", name="" placeholder="Имя").text-field
    .form-text-field
      input(type="text", name="" placeholder="Фамилия").text-field
  .form-section.registration-form-radio-container
    +radiobutton('Мужчина', 'Женщина')
  .form-section
    +datepicker('Дата рождения')
  .form-section
    h3.form-h3 данные для входа в сервис
    .form-text-field.registration-form-text-field_no-margin
      input(type="email" placeholder="Email").text-field
    .form-text-field
      input(type="password" placeholder="Password").text-field
    +toggle-switcher('Получать спецпредложения')
  .form-button.registration-form-button
    +button-filled('Перейти к оплате', 'arrow_forward')
  .form-section.registration-form-login
    p.form-p Уже есть аккаунт на Toxin
    .registration-form-login-button
      +button-transparent('Войти')