include ../checkbox/checkbox
.checkbox-list
  h3.checkbox-list-header Дополнительные удобства
    i.material-icons.checkbox-list-header__arrow keyboard_arrow_down
  ul.checkbox-list-content
    li.checkbox-list-content__item
      +checkbox('Завтрак')
    li.checkbox-list-content__item
      +checkboxChecked('Письменный стол')
    li.checkbox-list-content__item
      +checkboxChecked('Стул для кормления')
    li.checkbox-list-content__item
      +checkboxChecked('Кроватка')
    li.checkbox-list-content__item
      +checkbox('Телевизор')
    li.checkbox-list-content__item
      +checkbox('Шампунь')
    li.checkbox-list-content__item
      +checkbox('Телевизор')
    li.checkbox-list-content__item
      +checkbox('Шампунь')