@import './button_filled_arrowed/button_filled_arrowed';

.button_filled {
  color: white;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  &:hover {
    opacity: 0.5;
  }
}