.login-field
  h1.login-field__h1-header Войти
  input(type="email" placeholder="Email").text-field.login-field__text-field
  input(type="password" placeholder="Password").text-field.login-field__text-field
  button.button.button_filled.button_filled_arrowed.login-field__login-button Войти
    i.material-icons arrow_forward
  .login-field-register
    p.registration-field-enter__text Уже есть аккаунт на Toxin
    button.button.button_transparent.registration-field-enter__button Войти