.form
  include ../button/button
  h1.form-h1 Войти
  .form-text-field
    input(type="email" placeholder="Email").text-field
  .form-text-field
    input(type="password" placeholder="Password").text-field
  .form-button
    +button-filled('Войти', 'arrow_forward')
  .create-account.form-section
    p.registration-field-enter__text Нет аккаунта на Toxin?
    .create-account-button
      +button-transparent('Создать')