.pie-chart
  canvas#pie-chart(height=120 width=120)
  .pie-chart__votes 260
    br 
    span голосов
  ul.pie-chart-legend
    li.pie-chart-legend__item
      .pie-chart-legend-dot.pie-chart-legend-dot_orange 
      | Великолепно
    li.pie-chart-legend__item 
      .pie-chart-legend-dot.pie-chart-legend-dot_green 
      | Хорошо
    li.pie-chart-legend__item 
      .pie-chart-legend-dot.pie-chart-legend-dot_purple 
      | Удовлетворительно
    li.pie-chart-legend__item 
      .pie-chart-legend-dot.pie-chart-legend-dot_black 
      | Разочарован