@import './utils/imports';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 14px;
  color: $dark75;
}

h1, h2, h3 {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  line-height: 1;
  color: $dark100;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-size: 19px;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
}