.room-finder.form
  .form-section
    h1.form-h1 Найдём номера под ваши пожелания
  .form-section
    include ../datepicker/datepicker
    +datepicker('Даты пребывания в отеле')
  .form-section
    include ../dropdown/dropdown
    +dropdown('Гости', 'Взрослые', 'Дети', 'Младенцы', 'Сколько гостей')
  .form-button
    include ../button/button
    a(href="search.pug")
      +button-filled('Подобрать номер', 'arrow_forward')