mixin checkboxRich(labelText, bottomText)
  label.checkbox-rich__container= labelText
    br
    span.checkbox-rich__description=  bottomText
    input(type="checkbox")
    span.checkbox-rich__checkmark