@import './utils/imports';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Montserrat';
}