mixin like-button(like)
  button.button.button-like
    i.material-icons favorite_border
    span= likes

mixin like-button_liked(like)
  button.button.button-like.button-like_liked
    i.material-icons favorite_border
    span= likes