header
  include ../button/button
  nav.header-nav
    .header-nav__logo
      a(href="index.pug")
        img(src="./img/header/logo.svg", alt="Toxin logo")
    ul.navbar
      li.navbar__item О нас
      li.navbar__item.navbar__item_dropdown Услуги
        i.material-icons keyboard_arrow_down
      li.navbar__item Вакансии
      li.navbar__item Новости
      li.navbar__item.navbar__item_dropdown Соглашения
        i.material-icons keyboard_arrow_down
      li.navbar__item
        a(href="login.pug")
          +button-transparent('Войти')
      li.navbar__item
        a(href="registration.pug")
          +button-filled('Зарегистрироваться', 'arrow-forward')

