.pagination
  ul.pagination-list
    li.pagination-list__item.pagination-list__item_active 1
    li.pagination-list__item 2
    li.pagination-list__item 3
    li.pagination-list__item ...
    li.pagination-list__item 15
    li.pagination-list__item 
      i.material-icons arrow_forward
  p.pagination__footer 1 – 12 из 100+ вариантов аренды