main.bboking-page
  .booking-page-header
    .booking-page-header__img
      img(src="./img/booking/image1.png", alt="")
    .booking-page-header__img
      img(src="./img/booking/image2.png", alt="")
    .booking-page-header__img
      img(src="./img/booking/image3.png", alt="")

