main.booking-page
  article.booking-page-header
    include ../room-photos/room-photos
    +room-photos('./img/booking/image1.png', './img/booking/image2.png', './img/booking/image3.png')
  article.booking-page-content
    section.booking-page-content-left
      include ../room-details/room-details
      include ../comment/comment
      .booking-page-content-room-info.booking-page-content__block
        h2.booking-page-content-room-info__header.booking-page-content__header Сведения о номере
        .booking-page-content-room-info__item
          +room-details('insert_emoticon', 'Комфорт', 'Шумопоглощающие стены')
        .booking-page-content-room-info__item
          +room-details('location_city', 'Удобство', 'Окно в каждой из спален')
        .booking-page-content-room-info__item
          +room-details('whatshot', 'Уют', 'Номер оснащён камином')
      .booking-page-content-room-impressions.booking-page-content__block
        h2.booking-page-content-room-impressions__header.booking-page-content__header Впечатления от номера
        include ../pie-chart/pie-chart
      .booking-page-content-comments.booking-page-content__block
        h2.booking-page-content-comments__header.booking-page-content__header Отзывы посетителей номера
        .booking-page-content-comments__comments-counter 2 отзыва
        .booking-page-content-comments__item
          +comment('./img/comments/image1.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', '5')
        .booking-page-content-comments__item
          +comment('./img/comments/image2.png', 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.', '12')
    section.booking-page-content-right
      .booking-page-content-booking-form.booking-page-content__block
        include ../booking-form/booking-form
