.booking-page {

  &-header {
    width: 100%;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 70px 140px;

    @media screen and (max-width: 1024px) {
      justify-content: center;
      flex-direction: column;
    }

    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      padding: 20px 7.7% 60px;
    }

    @media screen and (min-width: 910px) and (max-width: 1024px) {
      padding: 20px 8.7% 60px;
    }
  
    @media screen and (min-width: 800px) and (max-width: 910px) {
      padding: 20px 7.7% 40px;
    }
  
    @media screen and (min-width: 600px) and (max-width: 800px) {
      padding: 20px 6.7% 30px;
    }
  
    @media screen and (max-width: 600px) {
      padding: 20px 5.7% 20px;
    }

    &__header {
      margin-bottom: 20px;
    }

    &__block {
      margin-bottom: 30px;
      margin-right: 70px;
    }

    &-left {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      max-width: 911px;
    }

    &-right {
      max-width: 511px;
      min-width: 380px;
      display: flex;
      justify-content: center;

      @media screen and (max-width: 910px) {
        max-width: 100%;
      }
    }

    &-room-info {
      width: 100%;
      max-width: 291px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 910px) {
        margin-right: 0;
      }

      &__item {
        max-width: 280px;
        margin-bottom: 20px;
        padding-bottom: 17px;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);

        &:last-child {
          border: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &-room-impressions {
      width: 100%;
      max-width: 311px;
      margin-right: 0;
    }

    &-comments {
      width: 100%;
      max-width: 711px;
      position: relative;

      @media screen and (max-width: 910px) {
        margin-right: 0;
      }

      &__comments-counter {
        position: absolute;
        line-height: 14px;
        right: 0;
        top: 5px;
      }

      &__item {
        margin-top: 20px;
      }
    }

    &-booking-form {
      margin-right: 0;
      min-width: 380px;

      @media screen and (max-width: 600px) {
        min-width: 320px;
      }
    }

    &-booking-form .form {
      min-width: 320px;
      @media screen and (max-width: 600px) {
        padding: 0;
      }
    }
  }
}