.room-finder
  h1.room-finder__header Найдём номера под ваши пожелания
  include ../datepicker/datepicker
  include ../guest-setter/guest-setter
  button.button.room-finder__button.button_filled.button_filled_arrowed Подобрать номер
    i.material-icons arrow_forward